apiVersion: "v1"
kind: Pod
metadata:
  name: pv-extract
spec:
  containers:
    - name: pv-extract-pod
      image: registry.access.redhat.com/ubi8/ubi
      command: ["sleep", "3000"]
    #   volumeMounts:
    #   - mountPath: "/workers-scan-results"
    #     name: workers-scan-vol
    # volumes:
    # - name: workers-scan-vol
    #   persistentVolumeClaim:
    #       claimName: rhcos4-moderate-worker