apiVersion: integreatly.org/v1alpha1
kind: GrafanaDataSource
metadata:
  name: grafana-datasource
spec:
  datasources:
    - access: proxy
      editable: true
      isDefault: true
      jsonData:
        httpHeaderName1: 'Authorization'
        tlsSkipVerify: true
        timeInterval: 5s
      name: Prometheus
      secureJsonData:
        httpHeaderValue1: 'Bearer '
      type: prometheus
      url: 'https://thanos-querier.openshift-monitoring.svc.cluster.local:9091'
      # version: 1
  name: grafana-datasources.yaml
