apiVersion: v1
kind: Secret
metadata:
  name: keda-prom-secret
  namespace: project1
data:
  bearerToken: "BEARER_TOKEN"
  ca: "CUSTOM_CA_CERT" 
---
apiVersion: keda.sh/v1alpha1
kind: TriggerAuthentication
metadata:
  name: keda-prom-creds
  namespace: project1
spec:
  secretTargetRef:
    - parameter: bearerToken
      name: keda-prom-secret
      key: bearerToken
    - parameter: ca
      name: keda-prom-secret
      key: ca
---
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: prometheus-scaledobject
  namespace: project1
  labels:
    app: backend
spec:
  pollingInterval: 10
  cooldownPeriod: 120
  minReplicaCount: 1
  maxReplicaCount: 20
  scaleTargetRef:
    kind: Deployment
    name: backend-v1
  triggers:
    - type: prometheus
      metadata:
        serverAddress: https://thanos-querier.openshift-monitoring.svc.cluster.local:9091
        metricName: application_com_example_quarkus_BackendResource_countBackend_total
        metricType: Value
        threshold: '10'
        query: avg(rate(application_com_example_quarkus_BackendResource_countBackend_total[1m]))
        authModes: "bearer"
        namespace: openshift-monitoring
      authenticationRef:
        name: keda-prom-creds