apiVersion: v1
kind: Namespace
metadata:
  name: openshift-operators-redhat
  annotations:
    openshift.io/node-selector: ""
  labels:
    openshift.io/cluster-monitoring: "true"
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: openshift-operators-redhat
  namespace: openshift-operators-redhat
spec: {}
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
    labels:
      operators.coreos.com/loki-operator.openshift-operators-redhat: ""
    name: loki-operator
    namespace: openshift-operators-redhat
spec:
    channel: stable-6.2
    installPlanApproval: Automatic
    name: loki-operator
    source: redhat-operators
    sourceNamespace: openshift-marketplace