---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: kiali-ossm
  namespace: openshift-operators  
spec:
  channel: stable
  installPlanApproval: Automatic
  name: kiali-ossm
  source: redhat-operators
  sourceNamespace: openshift-marketplace
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: jaeger-product
  namespace: openshift-operators
spec:
  channel: stable
  installPlanApproval: Automatic
  name: jaeger-product
  source: redhat-operators
  sourceNamespace: openshift-marketplace
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  labels:
    operators.coreos.com/servicemeshoperator.openshift-operators: ""
  name: servicemeshoperator
  namespace: openshift-operators
spec:
  channel: stable
  installPlanApproval: Automatic # Manual,Automatic
  #startingCSV: servicemeshoperator.v2.1.3
  name: servicemeshoperator
  source: redhat-operators
  sourceNamespace: openshift-marketplace

# oc -n openshift-operators get installplans -l operators.coreos.com/servicemeshoperator.openshift-operators= -oname | \
#xargs -r -n 1 oc -n openshift-operators patch --type json --patch '[{"op": "replace", "path": "/spec/approved", "value": true }]'