# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js gitbook CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - uses: oleksiyrudenko/gha-git-credentials@v2-latest
      with:
        token: '${{ secrets.GITHUB_TOKEN }}'
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install -g gitbook-cli gitbook-plugin-copy-code-button gitbook-plugin-mermaid-gb3
    - run: gitbook install && gitbook build
    - run: git checkout -b gh-pages
    - run: git pull origin gh-pages --rebase
    - run: git rm -rf .
    - run: cp -R _book/* .
    - run: git clean -fx node_modules
    - run: git clean -fx _book
    - run: git add .
    - run: git commit -a -m "Github Actions Update Gitbook"
    - run: git push origin gh-pages
